<% include header %>

<h2>Welcome, <%= session.user.firstname%> <%= session.user.lastname%>!</h2>

<% if (json.length === 0) { %>
  <p><strong>No saved legislators found.</strong></p>
<% } else {%>
  <p><strong>Saved legislators:</strong></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Legislator</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < json.length; i++) { %>
      <tr>
      <td><a href="/search/<%= json[i]["idLeg"] %>"><%= json[i]["name"] %></a></td>
      <td>
        <form method="post" action="/removelegislator/<%= json[i]["idLeg"] %>">
          <input class="btn btn-danger" class="form-control" type="submit" value="Remove">
        </form>
      </td>
      </tr>
  <% } %>
    </tbody>
</table>
<% } %>

<% if (bills.length === 0) { %>
  <p><strong>No saved bills found.</strong></p>
<% } else {%>
  <p><strong>Saved bills:</strong></p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Bill</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < bills.length; i++) { %>
    <tr>
      <td><%= bills[i]["name"] %></td>
      <td>
        <form method="post" action="/removebill/<%= bills[i]["idBill"] %>">
          <input class="btn btn-danger" class="form-control" type="submit" value="Remove">
        </form>
      </td>
    </tr>
  <% } %>
    </tbody>
</table>
<% } %>

<% include footer %>