<% include header %>

<!-- <h2>Welcome, <%= session.user.firstname%> <%= session.user.lastname%>!</h2> -->

<form method="post" action="/search">
  <label for="number">Zipcode:</label>
  <input type="number" name="uSearch[zipcode]" value="" placeholder="Zipcode" class="form-control" min="9999" max="100000" required><br>

  <input class="btn btn-primary" class="form-control" type="submit" value="Search"><br><br>
</form>

<% if (typeof json !== 'undefined') { %>
  <% if (json.length === 0) { %>
    <p>No results found.</p>
  <% } else {%>
    <p><strong>Legislators in <%=zipcode%>:</strong></p>
    <% for (var i = 0; i < json.length; i++) { %>
      <ul>
        <li><a href="/search/<%= json[i]["bioguide_id"] %>"><%= json[i]["first_name"] + " " + json[i]["last_name"] %></a></li>
          <ul>
            <li>Twitter: <a href="https://twitter.com/<%= json[i]["twitter_id"] %>" target="_blank"><%= json[i]["twitter_id"] %></a></li>
            <li>Party: <%= json[i]["party"] %> </li>
          </ul>
      </ul>
    <% } %>
  <% } %>

<% } %>

<% include footer %>